
<head>
<title>Admin</title>
<link rel="stylesheet" type="text/css" href="/bootstrap.css" />

</head>

<body>
<h1>Admin</h1>

<h2>Users</h2>

<table class="table">
<% @users.each do |user| %>
	<% annotations = @db.execute("select max(id), username, sentence, time, deleted from annotation where username=? group by sentence", user[1]) %>
	<tr>
		<td><b><%= user[0] %></b></td>
		<td><b><%= user[1] %></b></td>
	</tr>
	<tr>
		<td></td><td><ul>
	<% annotations.each do |a| %>
	<% unless a[4] %>
		<li><a href="/sentence/<%= user[1] %>/<%= CGI.escape(a[2]) %>"><%= a[2] %></a></li>
	<% end %>
	<% end %>
	</ul>
		<form method="post" action="/create_translation">
			<input type="" name="text" placeholder="Text of sentence">
			<textarea placeholder="Reference translation" name="reference"></textarea>
			<input type="hidden" name="username" value="<%= user[1] %>">
			<input type="submit" value="Create sentence" class="btn">
		</form>
	</td></tr>
<% end %>
</table>

<h2>Add user</h2>
<form method="post" action="/add_user">

User name: <input name="username"><br>
Password: <input type="password" name="password"><br>
<input type="submit">

</form>

<h2>Export</h2>
<ul>
	<li><a href="/export_times">Work times</a></li>
</ul>

</body>

