<link rel="stylesheet" type="text/css" href="/bootstrap.css" />

<h1><%= @params['sentence'] %> <small>(<%= @params['user'] %>)</small></h1>

<% @annotations.each do |a| %>
	<h4><%= Time.at(a[3]) %></h4>
	<% 
		result = JSON.parse(a[5])
	%>
	<% if true %>
		<textarea style="width: 100%;"><%= a[5] %></textarea>
	<% end %>

	<% if result['result'] %>
		<% parsed = JSON.parse(result['result']) %>
		<div><%= parsed['words'].length %> translations:</div>
		<textarea style="width: 100%;"><%= parsed['words'].join("\n") %></textarea>
	<% end %>
<% end %>